fastapi>=0.110
uvicorn>=0.27

langchain>=0.2.10
langchain-core>=0.2.20
langchain-community>=0.2.10
langchain-text-splitters>=0.2.4
langchain-huggingface>=0.0.3
langchain-groq>=0.1.5

faiss-cpu>=1.8.0
sentence-transformers>=2.6.1
pypdf>=4.0.0
python-multipart>=0.0.9
